@page
@model AbbyWeb.Pages.Categories.IndexModel
<div>
    <div>
        <div style="display: inline-block;">
            <h1 >Category List</h1>
        </div>

        <div style="display: inline-block; padding-left:450px;">
            <a asp-page="create"><button>Create New Category</button></a>
        </div>
    </div>
    
    
    <br/><br/>

    <table style=" width:100%" >
        <thead>
            <tr>
                <th style="width=50%">
                    Category Name
                </th>
                <th style="width=50%">
                    Display Order
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach(var obj in Model.catogories)
            {
                <tr>
                    <td>@obj.Name</td>

                    <td>@obj.DisplayOrger</td>
                    
                </tr>
            }
            
        </tbody>
    </table>
    
</div>
