@page
@model AbbyWeb.Pages.Categories.IndexModel
<div>
    <div>
        <h1>Category List</h1>
    </div>
    
    <br/><br/>

    <table style=" width:100%" >
        <thead>
            <tr>
                <th style="width=50%">
                    Category Name
                </th>
                <th style="width=50%">
                    Display Order
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach(var obj in Model.catogories)
            {
                <tr>
                    <td>@obj.Name</td>

                    <td>@obj.DisplayOrger</td>
                    
                </tr>
            }
            
        </tbody>
    </table>
    
</div>
